
AAD/TP/aula01/codon
AAD/P/aula01/codon/lib/codon/libcodonc.so
SRC/Prática/guiao02/untitled/project-files/qemu/5961b8a0-f3fe-4432-b89e-27e182a4b526/hda_disk.qcow2
SRC/Prática/guiao02/untitled/project-files/qemu/e762abdc-36bf-4c39-a54a-d77c8ef32460/hda_disk.qcow2
